<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
<style>
   body{ 
     font-size: 15pt;
     font-family: arial;
      }
</style>

<body>
  {% include 'head.html' %}
  <div class="container">
    <h1>Movie: {{details[0]}}</h1>
    <h2>Venue: {{details[1]}}, Hall {{details[2]}}</h2>
    <h2>Date: {{details[3].strftime('%m/%d/%Y')}}, Start-Time: {{details[4].strftime('%H:%M')}} , End-Time: {{details[5].strftime('%H:%M')}}</h2>
    
    <h3>Available seats</h3>
    {% if data|length == 0 %}
        <div class="text-centre">No seats available</div>
    {% else%}
        {% set cur_url = url_for(request.endpoint, **request.view_args)%}
        
        <form action={{cur_url}} method="post">
          <div class="form-row align-items-center">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="SeatNumber" name="SeatNumber">
              <option selected>Choose Seat</option>
              {% for seat in data %}
              <option value="{{seat[0]}}">Seatnumber: {{seat[0]}}, Price: {{seat[1]}}</option>
              {% endfor %}
            </select>
          </div>
          {% if session['id']%}
          <div class="form-row align-items-center">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
          </div>
          {% else%}

          <div class="align-items-center">
            <a href="/login" class="badge badge-primary m-2">Please login to book ticket</a>
          </div>
        {% endif %}
        </form>
        
    {% endif %}
  </div>

  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
  </head>
</html>