<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
<style>
   body{ 
     font-size: 15pt;
     font-family: arial;
      }
</style>

<body> 

  {% include 'head.html' %}

  
<hr>
  
  <div class="container">

    <form action="/home" method="post">
      <div class="form-row align-items-center">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Select the Movie and/or Theatre</label>
        <select class="custom-select mr-sm-2" id="Movie" name="Movie">
          <option selected>Choose Movie</option>
          {% for movie in movies %}
          <option value="{{movie.mid}}" id="{{movie.mid}}">{{movie.name}}</option>
          {% endfor %}
        </select>
        
        <hr>
        
        <select class="custom-select mr-sm-2" id="Venue" name="Venue">
          <option selected>Choose Venue</option>
          {% for venue in venues %}
          <option value="{{venue.vid}}" id="{{venue.name}}">{{venue.name}}</option>
          {% endfor %}
        </select>

      </div>
      <div class="form-row align-items-center">
        <button type="submit" class="btn btn-primary m-2">Search</button>
      </div>
    </form>

    
    

  </div>
  <hr>
  <div class="container">
    {% if famous_movie|length != 0 %}
      
      <h3>The two movies with the most tickets sold:</h3>
        {% for fm in famous_movie %}
        <div class="row">
          <div class="col-sm">{{fm[1]}}</div>
          {% set movie_info_url = '/movie_info/' ~ fm[0] %}
          {% set movie_search_url = '/movie_search/' ~ fm[0] %}
          <div class="col-sm"><a href={{movie_info_url}}>More information</a></div>
          <div class="col-sm"><a href={{movie_search_url}}>Search shows</a></div>
          <div class="col-sm">Ticket Sold: {{fm[2]}}</div>
        </div>
        {% endfor %}
    {% endif%}
  </div>
  <hr>
  <div class="container">
    {% if famous_venue|length != 0 %}
      
      <h3>The two venues with the most tickets sold:</h3>
        {% for fv in famous_venue %}
        <div class="row">
          <div class="col-sm">{{fv[1]}}</div>
          <div class="col-sm">{{fv[3]}}</div>
          {% set venue_search_url = '/venue_search/' ~ fv[0] %}
          <div class="col-sm"><a href={{venue_search_url}}>Search shows</a></div>
          <div class="col-sm">Ticket Sold: {{fv[2]}}</div>
        </div>
        {% endfor %}
    {% endif%}
  </div>
  <hr>
  
  <!-- <div class="container">
  
    {% for n in movies %}
    <div class="row">
      <div class = "col-sm">{{n.name}}</div>
      <div class = "col-sm">{{n.stars}}</div>
    </div>
    {% endfor %}
   
  </div>
  
 <hr>
 <hr>
 <hr>

  <div class="container">
    
    {% for n in venues %}
    <div class="row">
      <div class = "col-sm">{{n.name}}</div>
      <div class = "col-sm">{{n.location}}</div>
    </div>
    {% endfor %}
  
  </div> -->



  </div>
</div>
  

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
  </head>
</html>
